<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input label="Tenant ID" type="text" placeholder="Your Tanant ID" [(ngModel)]="tenantId"></ion-input>
  </ion-item>
  <ion-button class="ion-margin" [disabled]="!tenantId" (click)="login()" expand="block">
    Login
  </ion-button>

</ion-content>
